:root {
    --primary-blue: #405DE6;
    --secondary-blue: #5B51D8;
    --primary-purple: #833AB4;
    --primary-pink: #C13584;
    --purple-red: #E1306C;
    --primary-red: #FD1D1D;
    --primary-orange: #F56040;
    --secondary-green: #777737;
    --primary-yellow: #FCAF45;
    --light-yellow: #FFDC80;
}

body {
    background-color: black;
    color: honeydew;
}

#feedNav{
    border-bottom: rgba(240, 255, 240, 0.137) solid 2px;
    display: flex;
    justify-content: space-between;

}

#feedNavLogo{
    height: 10vh;
    width:10vw;
    margin-left: 3vw;
}

.navIcons{
    width: 11vw;
    margin-right: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

i {
    font-size: 5em;
}

/*nav done*/



#mainFeed {
    height: 73vh;
    width: 100%;
}

#posterAcc {
    height: 11vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: rgba(240, 255, 240, 0.137) solid 2px;
}

.userDiv {
    display: flex;
    align-items: center;
    gap: 2vw;
    font-size: 2em;
}

#pfImg {
    border-radius: 70%;
    height: 9vh; 
}

#feedImg{
    height: 100%;
}

#post {
    display: flex;
    justify-content: center;
    height: 60vh;
    width: 100%;
    border-bottom: rgba(240, 255, 240, 0.137) solid 2px;
}

#feedIcons {
    display: flex;
    justify-content: space-around;
    height: 9vh;
    width: 40%;
    padding-top: 3vh;
}

#feedIcons i {
    font-size: 3em;
}
