:root {
    --primary-blue: #405DE6;
    --secondary-blue: #5B51D8;
    --primary-purple: #833AB4;
    --primary-pink: #C13584;
    --purple-red: #E1306C;
    --primary-red: #FD1D1D;
    --primary-orange: #F56040;
    --secondary-green: #777737;
    --primary-yellow: #FCAF45;
    --light-yellow: #FFDC80;
}

