:root {
    --primary-blue: #405DE6;
    --secondary-blue: #5B51D8;
    --primary-purple: #833AB4;
    --primary-pink: #C13584;
    --purple-red: #E1306C;
    --primary-red: #FD1D1D;
    --primary-orange: #F56040;
    --secondary-green: #777737;
    --primary-yellow: #FCAF45;
    --light-yellow: #FFDC80;

}

.numbers_panel{
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid grey;
    padding-top: 20px;

}

.logo_panel{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid grey;
    padding: 10px;
    
}

.page_photos1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.page_photos2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.page_photos3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


